@charset "utf-8"


body {
  background-color: white;
}

h4 {
    colour: darkgreen;
    text-align: center;
    d
}
h3 {
  color: black;
  text-align: center;
  font-size: 30px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#left-column
{
    float: left;
    width: 500px;
    text-align: left;
    border: inset 5px green;
}
#right-column
{
    float: right;
    width: 650px;
    text-align: right;
    text-size: 10px;
    border: inset 5px green;
}